# Node
node_modules/

# Playwright / test outputs
playwright-report/
test-results/
blob-report/

# Python caches
__pycache__/
.pytest_cache/
*.py[cod]

# OS/editor
.DS_Store

# IDE settings
.idea/
.vscode/

# venv
.venv/
venv/
.env

#tests
allure-results
e2e/junit.xml

# Ignore any TLS material anywhere under infra/k8s
infra/k8s/**/tls/**
infra/k8s/**/**/*.key
infra/k8s/**/**/*.pem
infra/k8s/**/**/*.p12
infra/k8s/**/**/*.pfx
