{{- /* ========= In-repo apps ========= */ -}}
{{- range $app := (.Values.apps | default (list)) }}
{{- $appEnabled := (default true $app.enabled) -}}
{{- if $appEnabled }}
{{- $hv := (dig "helm" "values" dict $app) | default dict -}}
{{- $av := ($app.values | default dict) -}}
{{- $merged := merge (deepCopy $hv) $av -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $app.name }}
  namespace: {{ default "argocd" $.Values.global.argoNamespace }}
spec:
  project: {{ default "default" $.Values.project.name }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ $app.destinationNamespace }}
  source:
    repoURL: {{ $.Values.global.repoURL }}
    targetRevision: {{ default "main" (default $app.targetRevision $.Values.global.targetRevision) }}
    path: {{ $app.path }}
    helm:
      version: {{ default "v3" (dig "helm" "version" "v3" $app) | quote }}
      values: |
{{ toYaml $merged | nindent 8 }}
  syncPolicy:
    automated: { prune: true, selfHeal: true }
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
  ignoreDifferences:
    - group: ""
      kind: PersistentVolumeClaim
      name: pg-data
      jsonPointers:
        - /spec/volumeName
        - /spec/storageClassName
        - /spec/dataSource
        - /spec/dataSourceRef
---
{{- end }}

{{- /* ========= External Helm charts ========= */ -}}
{{- range $h := (.Values.helmApps | default (list)) }}
{{- $hv := (dig "helm" "values" nil $h) -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $h.name }}
  namespace: {{ default "argocd" $.Values.global.argoNamespace }}
spec:
  project: {{ default "default" $.Values.project.name }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ $h.destinationNamespace }}
  source:
    repoURL: {{ $h.source.repoURL }}
    chart: {{ $h.source.chart }}
    targetRevision: {{ $h.source.targetRevision }}
    helm:
      {{- if $hv }}
      values: |
{{- if kindIs "string" $hv }}
{{ $hv | nindent 8 }}
{{- else }}
{{ toYaml $hv | nindent 8 }}
{{- end }}
      {{- end }}
  syncPolicy:
    automated: { prune: true, selfHeal: true }
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
---
{{- end }}
